.env
.env.*
.venv
.git
.pytest_cache
__pycache__
**/__pycache__
*.pyc
.github
.githooks
evaluation/*
!evaluation/evaluation_results.json
.aws
**/.aws
credentials
**/credentials
*.pem
*.key
*secret*
*credentials*
